<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyu.cotenant.repository.biz.CotenantChatMsgBizMapper">
  <resultMap id="ChatMessageOutVM" type="com.youyu.cotenant.web.rest.vm.chat.ChatMessageOutVM">
    <result column="send_user_id" jdbcType="BIGINT" property="sendUserId" />
    <result column="receive_user_id" jdbcType="BIGINT" property="receiveUserId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>

  <resultMap id="CommunicationOutVM" type="com.youyu.cotenant.web.rest.vm.chat.CommunicationOutVM">
  <result column="channel" jdbcType="VARCHAR" property="channel" />
  <result column="send_user_id" jdbcType="BIGINT" property="sendUserId" />
  <result column="receive_user_id" jdbcType="BIGINT" property="receiveUserId" />
</resultMap>

<resultMap id="ChatMessageListOutVM" type="com.youyu.cotenant.web.rest.vm.chat.ChatMessageListOutVM">
    <result column="receive_user_id" jdbcType="BIGINT" property="receiveUserId" />
    <result column="receive_user_name" jdbcType="VARCHAR" property="receiveUserName" />
    <result column="last_content" jdbcType="VARCHAR" property="lastContent" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
</resultMap>

  <select id="selectCotenantChatMsgList" resultMap="ChatMessageOutVM">
        select send_user_id,receive_user_id,content,send_time from cotenant_chat_msg msg
          where msg.channel = #{channel}
   </select>




    <select id="selectCommunicationListByUserId" resultMap="ChatMessageListOutVM">
        SELECT m.receive_user_id,rui.user_name receive_user_name,m.content last_content, m.send_time last_time
        FROM cotenant_chat_msg m
        JOIN (
          select msg.channel, max(msg.send_time) last_time  from cotenant_chat_msg msg GROUP BY msg.channel)
        AS lt
          ON lt.channel = m.channel AND lt.last_time = m.send_time
        left join   cotenant_user_info rui on rui.user_id=m.receive_user_id
        where m.receive_user_id=#{userId} or m.send_user_id=#{userId}
        ORDER BY send_time desc
   </select>
</mapper>